*{
    margin:0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
body{

    background:#6f8073;
    color: #fff;
    background-attachment: fixed;
}
.container{
    width:100%;
    height: 100% ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.164),rgba(0, 0, 0, 0.157)),url(img/404662.jpg);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 0%;
    padding-right: 0%;
    box-sizing: border-box;
     
}
.navbar{
    padding:10px 20px;
}
.logo{
     cursor: pointer;
    height: 70px;
    width: 150px;
   
  }
.row{
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
table{
    padding: 100px 0%;
    width: 100%;
    margin: 0 auto;
 }
 
 .col1{
    padding: 0% 2%;
   
 }
 
h1{
    color: #ffffff;
    font-size: 40px;
     

}
p{
    color: #fff;
    font-size: 20px;
 
}

 
 
.cards{
    padding: 70px 0;
  }
.card{
    width:18%;
    height: 280px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 5px 5px;
    background-position: top;
    background-size: cover;
    transition: 0.5s;
}
.card1{
    background-image: url(img/whisperofheartcard.jpg);
 }
.card2{
    background-image: url(img/ponyocard.jpg);
    background-position: bottom;
 
}
.card3{
    background-image: url(img/howlcard.jpg);
 
}
.card4{
    background-image: url(img/spiritedawaycard.jpg);
}
.card5{
    background-image: url(img/kikicard.jpg);
}
.card6{
    background-image: url(img/marniecard.jpg);
}
.card7{
    background-image: url(img/totorocard.jpg);
}
.card8{
    background-image: url(img/arrietycard.jpg);
    background-position: bottom;
}
.card9{
    background-image: url(img/windcard.jpg);
}
.card10{
    background-image: url(img/mononokecard.jpg);
}
.card11{
    background-image: url(img/thecatreturnscard.jpg);
    background-position: center;
}
.card12{
    background-image: url(img/castleinteskycard.jpg);
}
.card13{
    background-image: url(img/onlyyesterdaycard.jpg);
}
.card14{
    background-image: url(img/porcorossocard.jpg);
}
.card15{
    background-image: url(img/fromuponpoppyhillcard.jpg);
}
.card16{
    background-image: url(img/oceanwavescard.jpg);
}
.card:hover{
    transform: translateY(-0px);

}
.card h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}
@media screen and (max-width: 600px) {
    td{
        display: block;
    }
    .card{
        display: inline-block;
    }
}